.section-intro {
	height: 100vh;
	width: 100vw;
	padding-top: 15%;
	background-image: url('./../images/photo.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.h2-intro {
	margin-bottom: 25px;
	color: white;
}
.form-control {
	border-width: 1px;
	border-radius: 4px 0px 0px 0px;
}

.btn-success {
	margin-left: 0;
	border-bottom-right-radius: 0;
}

.searchMenuField {
	width: 740px;
	height: auto;
	background-color: #c3c0c0;
	border-top: 0px;
}

.searchMenuField ul {
	padding: 0;
	list-style: none;
}

.searchMenuField ul li {
	background-color: #f5f5f5;
	border: 1px solid black;
	border-top: 0;
	cursor: pointer;
}

.searchMenuField ul li:hover {
	background-color: #d9534f;
}

.searchMenuField ul li a {
	padding: 5px;
	color: black;
	display: block;
}

.searchMenuField ul li a:hover {
	color: white;
	text-decoration: none;
}

.section-about {
	height: 100vh;
	width: 100vw;
	padding-top: 7%;
	background-color: rgba(7, 19, 39, 0.92);
	background-image: url('https://cdn-images-1.medium.com/max/1400/1*OlgaspZ00W78xQY-HE9Wsg.png');
	background-size: cover;
	background-position: 50% 30%;
	background-repeat: no-repeat;
}

.section-about h2 {
	margin-bottom: 3%;
	color: rgb(217, 83, 79);
}

.section-about {
	color: white;
}


.goDown {
	height: 20px;
	width: 20px;
	margin-top: 15%;
	background-color: red;
	display: none;
}

span a {
	color: rgb(217, 83, 79);
}

span a:hover {
	color: rgb(183, 26, 22);
	text-decoration: none;
}
